<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block head %}{{ include('admin/head.html.twig') }}{% endblock %}
</head>
<body class="hold-transition sidebar-mini">
{% block body %}{% endblock %}
{% block footer %}{{ include('admin/footer.html.twig') }}{% endblock %}

</body>
</html>
